version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: api_gateway
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - booking-service
      - event-service
      - payment-service
      - notification-service
    networks:
      - event-network

  postgres:
    image: postgres:15-alpine
    container_name: event_ticketing_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: event_ticketing
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - event-network

  redis:
    image: redis:7-alpine
    container_name: event_ticketing_redis
    ports:
      - "6379:6379"
    networks:
      - event-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: event_ticketing_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    networks:
      - event-network

  auth-service:
    build: ./auth-service
    container_name: auth-service
    # ports:
    #   - "3001:3001"
    volumes:
      - ./auth-service:/app
    environment:
      - DB_HOST=postgres
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${AUTH_DB_NAME}
      - DB_PORT=${DB_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - JWT_SECRET=${JWT_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - event-network

  booking-service:
    build: ./booking-service
    container_name: booking-service
    # ports:
    #   - "3002:3002"
    volumes:
      - ./booking-service:/app
    environment:
      - DB_HOST=postgres
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${BOOKING_DB_NAME}
      - DB_PORT=${DB_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - EVENT_SERVICE_URL=${EVENT_SERVICE_URL}
      - PAYMENT_SERVICE_URL=${PAYMENT_SERVICE_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - event-network

  event-service:
    build: ./event-service
    container_name: event-service
    # ports:
    #   - "3003:3003"
    volumes:
      - ./event-service:/app
    environment:
      - DB_HOST=postgres
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${EVENT_DB_NAME}
      - DB_PORT=${DB_PORT}
      - REDIS_ADDR=${REDIS_ADDR}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - event-network

  payment-service:
    build: ./payment-service
    container_name: payment-service
    # ports:
    #   - "3004:3004"
    volumes:
      - ./payment-service:/app
    environment:
      - DB_HOST=postgres
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${PAYMENT_DB_NAME}
      - DB_PORT=${DB_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - CHAPA_SECRET_KEY=${CHAPA_SECRET_KEY}
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - event-network

  notification-service:
    build: ./notification-service
    container_name: notification-service
    # ports:
    #   - "3005:3005"
    volumes:
      - ./notification-service:/app
    environment:
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_EMAIL=${SMTP_EMAIL}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    depends_on:
      - rabbitmq
    networks:
      - event-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - event-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3100:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - event-network

networks:
  event-network:
    driver: bridge

volumes:
  postgres_data:
